.regli{
	margin: 25px 30px 35px 35px;
	display: block;
	font-family: "Trebuchet Ms";
	font-size: 45px;
	font-weight: bold;
	text-shadow: 2px 2px 8px #187918;
	color: #FFF;
}

.regli2{
	margin: 25px 30px 35px 22px;
	display: block;
	font-family: "Trebuchet Ms";
	font-size: 45px;
	font-weight: bold;
	text-shadow: 2px 2px 8px #187918;
	color: #FFF;
}

.navli {
	margin-left: 100px;	
	-webkit-transition: 1s;
}

.navli:hover {
	text-shadow: 1px 1px 8px #090;	
}