#inicio {
	-webkit-animation: open 10s;
}

#container {
	width: 860px;
	height: 100%;
	background: #187918 url('../img/fundo.png') right bottom no-repeat;
	margin: -1% auto;
	box-shadow: 0 0 200px 30px #000; 
}

#cabecalho {
	width: 860px;
	height: 120px;
	background: url('../img/fundotop.png') right no-repeat;
	background-size: 860px 120px; 
}

#cabecalho h1 {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS";
	font-size:  80px;
	color: #FFF;
	text-shadow: 10px 10px 20px #000;
}

#navbar { 
	width: 860px;
	height: 60px;
	background: url('../img/fundobarra.png');
	font-size: 35px;
	text-shadow: 2px 2px 5px #000;
}

#cont {
	padding: 20px 280px 20px 20px;
	font-family: "Trebuchet MS";
	font-size: 40px;	
	color: white;
	text-shadow: 1px 1px 3px #000;	
}

#regras {
	width: 950px;
	height: 920px;
	background: url('../img/estrela.png') no-repeat;
	background-size: 100% 100%;
	margin: -2% auto;
	-webkit-animation: cresce 10s;
}

#sombra{
	width: 100px;
	height: 100px;
	border-radius: 200px;
	position: absolute;
	margin: 34% 46%;
	z-index: -1;
	box-shadow: 0px 0px 600px 500px #187918;
	-webkit-animation: sombra 10s;
}

#sombra2{
	width: 100px;
	height: 100px;
	border-radius: 200px;
	position: absolute;
	margin: 34% 46%;
	z-index: -2;
	-webkit-animation: sombra2 10s;
}

#criador {
	margin: 380px 0px 0px 360px;
	position: absolute;
	-webkit-animation: linsurg 10s;
}

#imgcriador {
	width: 220px;
	height: 240px;
}


#espe {
	margin: 350px 0px 0px 385px;
	position: absolute;
	-webkit-animation: linsurg 10s;
}

#bandespe {
	width: 190px;
	height: 70px;
}

#reg1 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 120px 0px 0px 430px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg2 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 250px 0px 0px 380px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg3 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 330px 0px 0px 280px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg4 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 340px 0px 0px 105px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg5 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 430px 0px 0px 220px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg6 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 550px 0px 0px 260px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg7 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 710px 0px 0px 220px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg8 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 650px 0px 0px 320px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg9 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 600px 0px 0px 425px;
	position:  absolute;
	-webkit-animation: linsurg 10s;
}

#reg10 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 650px 0px 0px 520px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg11 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 710px 0px 0px 620px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg12 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 550px 0px 0px 590px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg13 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 430px 0px 0px 640px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg14 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 345px 0px 0px 750px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg15 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 333px 0px 0px 580px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg16 {
	width: 100px;
	height: 100px;
	background: url('../img/estrela2p.png') no-repeat center;
	background-size: 100%;
	margin: 250px 0px 0px 480px;
	position: absolute;
	-webkit-animation: linsurg 10s;
} 

#reg1:hover {
	-webkit-animation: gira 1s;
}

#reg2:hover {
	-webkit-animation: gira 1s;
}

#reg3:hover {
	-webkit-animation: gira 1s;
}

#reg4:hover {
	-webkit-animation: gira 1s;
}

#reg5:hover {
	-webkit-animation: gira 1s;
}

#reg6:hover {
	-webkit-animation: gira 1s;
}

#reg7:hover {
	-webkit-animation: gira 1s;
}

#reg8:hover {
	-webkit-animation: gira 1s;
}

#reg9:hover {
	-webkit-animation: gira 1s;
}

#reg10:hover {
	-webkit-animation: gira 1s;
}

#reg11:hover {
	-webkit-animation: gira 1s;
}

#reg12:hover {
	-webkit-animation: gira 1s;
}

#reg13:hover {
	-webkit-animation: gira 1s;
}

#reg14:hover {
	-webkit-animation: gira 1s;
}

#reg15:hover {
	-webkit-animation: gira 1s;
}

#reg16:hover {
	-webkit-animation: gira 1s;
}

/* Animação de abertura */
@-webkit-keyframes open {
	0% { background: url('http://hypescience.com/wp-content/uploads/2010/10/bigbang.jpg') bottom; background-position: center; opacity: 0; }
	15% { opacity: 1; }
	50% { background: url('http://hypescience.com/wp-content/uploads/2010/10/bigbang.jpg') bottom; background-position: center; }
	100%{ background: url('../img/brick.png'); }
}

@-webkit-keyframes cresce {
	0% { background-size: 0px 0px; background-position: center; opacity: 0; }
	35% {opacity: 1;}
	100%{ background-size: 100% 100%; background-position: center; }
}

@-webkit-keyframes sombra {
	0% {width: 0px; height: 0px; box-shadow: 0px 0px 0px #187918; opacity: 0;}
	40%{width: 50px; height: 50px; box-shadow: 0px 0px 0px #187918;}
	50%{width: 100px; height: 100px;}
	50%{box-shadow: 0px 0px 700px 700px #187918;}
	75%{box-shadow: 0px 0px 700px 600px #187918;}
	100%{box-shadow: 0px 0px 600px 500px #187918; opacity: 1;}
}

@-webkit-keyframes sombra2 {
	0% {width: 0px; height: 0px; opacity: 0;}
	40%{width: 1px; height: 1px; box-shadow: 0px 0px 400px 200px #FFF; opacity: 1;}
	50%{}
	50%{}
	75%{}
	100%{}
}

@-webkit-keyframes linsurg {
	0% {opacity: 0;}
	75% {opacity: 0;}
	100% {opacity: 1;}	
}
/* Fim animação de abertura */

/* gira estrelas */
@-webkit-keyframes gira {
	45%{-webkit-transform: rotate(-50deg);}
	100%{-webkit-transform: rotate(365deg);}
}
/* fim gira estrelas */